.h1-style{
    display: inline-block !important;
    font-size: 2.5rem !important;
    font-weight: 400 !important;
    border-bottom: 3px solid #516beb !important;
}

.p-style{
    font-size: 1.1rem !important;
    margin-top: 1rem !important;
}

.table-style{
margin: 0 auto !important;
   width: 80% !important;
}

.btn-style{
    background-color: #516beb !important;
}

.click-style{
    border: 1px solid #516beb !important;
    color: #516beb !important;
}

.click-style:hover{
    background-color: #516beb !important;
    color: white !important;
}

@media screen and (max-width: 780px) {
    /* Styles for devices with a screen width up to 600px */
    .table-style{
        width: 95% !important;
    }

    th:first-child {
        display: none !important;
      }

      td:first-child {
        display: none !important;
      }
  }